<div class="row">
  <div class="span2"><%= f.label :phone_type %></div>
  <div class="span10">
    <%= f.select(:phone_type_id, PhoneType.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
</div>
<div class="row">
  <div class="span2"><%= f.label :ext %></div>
  <div class="span10">
    <%= f.text_field :ext, {:style => "width:300px"} %>
  </div>
</div>
<div class="row">
  <div class="span2"><%= f.label :value %></div>
  <div class="span10">
    <%= f.text_field :value, {:style => "width:300px"} %>
  </div>
</div>
