<% content_for :guides_state,"active" #sets state for tab bar -%>
<%= render :partial => "underwriting/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<p>Each carrier has their own underwriting guidelines and niches. Below are the published guides from many of the carriers available through the EZLife process. For more in-depth help please use the XRAE health screening tool or contact the <a href="underwriting@EZLifeSales.com">EZLife underwriting team</a>.</p>
		<ul class="dashedList" style="float:left;max-width:46%;padding:2%;">
			<li>
				<%= link_to "American General","http://qa.ezlifesales.com/pdf/American%20General.pdf" %>
			</li>
			<li>
				<%= link_to "Assurity","http://qa.ezlifesales.com/pdf/Assurity--Term350Plus_ProdGuide.pdf" %>
			</li>
			<li>
				<%= link_to "Banner","http://qa.ezlifesales.com/pdf/Banner--LAA1787.pdf" %>
			</li>
			<li>
				<%= link_to "Genworth","http://qa.ezlifesales.com/pdf/Genworth.pdf" %>
			</li>
			<li>
				<%= link_to "Lincoln Benefit Life","http://qa.ezlifesales.com/pdf/Lincoln%20Benefit%20Life.pdf" %>
			</li>
			<li>
				<%= link_to "Minnesota Life","http://qa.ezlifesales.com/pdf/Minnesota%20Life.pdf" %>
			</li>
			<li>
				<%= link_to "North American","http://qa.ezlifesales.com/pdf/NorthAmer--Underwriting%20Guidelines.pdf" %>
			</li>
			<li>
				<%= link_to "Prudential","http://qa.ezlifesales.com/pdf/Pru--SecuredFileServlet.pdf" %>
			</li>
		</ul>
		<ul class="dashedList" style="float:left;max-width:46%;padding:2%;">
			<li>
				<%= link_to "American National","http://qa.ezlifesales.com/pdf/AmericanNational--10182.pdf" %>
			</li>
			<li>
				<%= link_to "Aviva","http://qa.ezlifesales.com/pdf/AVIVA--New%20underwriting%20guidelines.pdf" %>
			</li>
			<li>
				<%= link_to "Fidelity","http://qa.ezlifesales.com/pdf/Fidelity--LK.pdf" %>
			</li>
			<li>
				<%= link_to "ING","http://qa.ezlifesales.com/pdf/ING--1007047.pdf" %>
			</li>
			<li>
				<%= link_to "Lincoln Financial","http://qa.ezlifesales.com/pdf/Lincoln%20Financial.pdf" %>
			</li>
			<li>
				<%= link_to "Mutual of Omaha","http://qa.ezlifesales.com/pdf/Mutual%20of%20Omaha.pdf" %>
			</li>
			<li>
				<%= link_to "Principal","http://qa.ezlifesales.com/pdf/Principal%20UW.PFL.pdf" %>
			</li>
			<li>
				<%= link_to "SBLI","http://qa.ezlifesales.com/pdf/SBLI.pdf" %>
			</li>
		</ul>
		<ul class="dashedList" style="float:left;max-width:46%;padding:2%;">
			<li>
				<%= link_to "American United","http://qa.ezlifesales.com/pdf/AmericanUnited--3-14975+FINAL+for+OLS.pdf" %>
			</li>
			<li>
				<%= link_to "AXA","http://qa.ezlifesales.com/pdf/AXA--edox.pdf" %>
			</li>
			<li>
				<%= link_to "Foresters","http://qa.ezlifesales.com/pdf/Foresters--503316_US.pdf" %>
			</li>
			<li>
				<%= link_to "John Hancock","http://qa.ezlifesales.com/pdf/John%20Hancock.pdf" %>
			</li>
			<li>
				<%= link_to "MetLife","http://qa.ezlifesales.com/pdf/MetLife.pdf" %>
			</li>
			<li>
				<%= link_to "Nationwide","http://qa.ezlifesales.com/pdf/Nationwide-New%20Underwriting%20Desktop.pdf" %>
			</li>
			<li>
				<%= link_to "Protective Life","http://qa.ezlifesales.com/pdf/Protective%20Life.pdf" %>
			</li>
			<li>
				<%= link_to "Transamerica","http://qa.ezlifesales.com/pdf/Trans%206-12.pdf" %>
			</li>
		</ul>
		<p style="clear:both;">Underwriting guides are subject to change without notice. For agent use only. This is not an offer for life insurance.</p>
	</div>
</div>