<% content_for :table_shave_state,"active" #sets state for lower tab bar -%>
<%= render :partial => "underwriting/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<p>Table Shave and Underwriting Credit programs can allow clients with adverse health history’s and conditions that would normally be rated sub-standard to obtain Standard or better rates. Below are the published guidelines and specifications for the carriers that offer these programs:</p>
		<div style="float:left;max-width:46%;padding:2%;">
		<ul class="dashedList" style="margin:0;">
			<li>
				<%= link_to "AVIVA - Table Reduction Program","http://qa.ezlifesales.com/pdf/AVIVA%20-%20Table%20Reduction%20Program.pdf" %>
			</li>
			<li>
				<%= link_to "Lincoln Benefit Life - SuperSherlock","http://qa.ezlifesales.com/pdf/Lincoln%20Benefit%20Life%20-SuperSherlock.pdf" %>
			</li>
			<li>
				<%= link_to "MetLife - MetEdge","http://qa.ezlifesales.com/pdf/MetLife%20-%20MetEdge.pdf" %>
			</li>
			<li>
				<%= link_to "Nationwide - Placement Improvement Program","http://qa.ezlifesales.com/pdf/Nationwide%20-%20Placement%20Improvement%20Program.pdf" %>
			</li>
			<li>
				<%= link_to "Transamerica - Transcend","http://qa.ezlifesales.com/pdf/Transamerica%20-%20Transcend.pdf" %>
			</li>
		</ul>
		</div>
		<div style="float:left;max-width:46%;padding:2%;">
		<ul class="dashedList" style="margin:0;">
			<li>
				<%= link_to "John Hancock - Healthstyles Program","http://qa.ezlifesales.com/pdf/John%20Hancock%20-%20Healthstyles%20Program.pdf" %>
			</li>
			<li>
				<%= link_to "Lincoln Financial Underwriting - Table Shave Program","http://qa.ezlifesales.com/pdf/Lincoln%20Financial%20Underwriting%20-%20Table%20Shave%20Program%2005-01-11.pdf" %>
			</li>
			<li>
				<%= link_to "Mutual of Omaha - Fit Credit Program","http://qa.ezlifesales.com/pdf/Mutual%20of%20Omaha%20-%20Fit%20Credit%20Program.pdf" %>
			</li>
			<li>
				<%= link_to "Principal - Automatic Standard Approval Program","http://qa.ezlifesales.com/pdf/Principal%20-%20Automatic%20Standard%20Approval%20Program.pdf" %>
			</li>
		</ul>
		</div>
		<p style="clear:both;">Underwriting guides are subject to change without notice. For agent use only. This is not an offer for life insurance.</p>
	</div>
</div>