<p id="notice"><%= notice %></p>

<p>
  <b>Birth:</b>
  <%= @crm_health_info.birth %>
</p>

<p>
  <b>Feet:</b>
  <%= @crm_health_info.feet %>
</p>

<p>
  <b>Gender:</b>
  <%= @crm_health_info.gender %>
</p>

<p>
  <b>Inches:</b>
  <%= @crm_health_info.inches %>
</p>

<p>
  <b>Weight:</b>
  <%= @crm_health_info.weight %>
</p>

<p>
  <b>Cigarettes per month:</b>
  <%= @crm_health_info.cigarettes_per_month %>
</p>

<p>
  <b>Cigars per month:</b>
  <%= @crm_health_info.cigars_per_month %>
</p>

<p>
  <b>Last cigar:</b>
  <%= @crm_health_info.last_cigar %>
</p>

<p>
  <b>Last cigarette:</b>
  <%= @crm_health_info.last_cigarette %>
</p>

<p>
  <b>Last nicotine patch or gum:</b>
  <%= @crm_health_info.last_nicotine_patch_or_gum %>
</p>

<p>
  <b>Last pipe:</b>
  <%= @crm_health_info.last_pipe %>
</p>

<p>
  <b>Last tobacco chewed:</b>
  <%= @crm_health_info.last_tobacco_chewed %>
</p>

<p>
  <b>Bp systolic:</b>
  <%= @crm_health_info.bp_systolic %>
</p>

<p>
  <b>Bp diastolic:</b>
  <%= @crm_health_info.bp_diastolic %>
</p>

<p>
  <b>Bp control start:</b>
  <%= @crm_health_info.bp_control_start %>
</p>

<p>
  <b>Cholesterol:</b>
  <%= @crm_health_info.cholesterol %>
</p>

<p>
  <b>Cholesterol control start:</b>
  <%= @crm_health_info.cholesterol_control_start %>
</p>

<p>
  <b>Cholesterol hdl:</b>
  <%= @crm_health_info.cholesterol_hdl %>
</p>

<p>
  <b>Last bp treatment:</b>
  <%= @crm_health_info.last_bp_treatment %>
</p>

<p>
  <b>Last cholesterol treatment:</b>
  <%= @crm_health_info.last_cholesterol_treatment %>
</p>

<p>
  <b>Last dl suspension:</b>
  <%= @crm_health_info.last_dl_suspension %>
</p>

<p>
  <b>Last dui dwi:</b>
  <%= @crm_health_info.last_dui_dwi %>
</p>

<p>
  <b>Last reckless driving:</b>
  <%= @crm_health_info.last_reckless_driving %>
</p>

<p>
  <b>Penultimate car accident:</b>
  <%= @crm_health_info.penultimate_car_accident %>
</p>

<p>
  <b>Updated at:</b>
  <%= @crm_health_info.updated_at %>
</p>

<%= link_to 'Edit', edit_crm_health_info_path(@crm_health_info) %> |
<%= link_to 'Back', crm_health_infos_path %>
