<% content_for :calculators_state,"active" #sets state for tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<div style="float:left;max-width:46%;padding:2%;">
			<h3>Wealth Transfer and Legacy Planning</h3>
		    <p>Insights for you to help your clients provide for beneficiaries through single life joint annuitant, spousal continuation, first and second to die and other options</p>
		    <ul class="dashedList">
		    	<li>
		        	<%= link_to "Savings, Taxes and Inflation", "https://pro.genworth.com/amm/public_contents/calculators/SavingsVariables.html" %>
		        </li>
		        <li>
		        	<%= link_to "College Savings Plan", "https://pro.genworth.com/amm/public_contents/calculators/CollegeSavings.html" %>
		        </li>
		        <li>
		        	<%= link_to "Business Valuation", "https://pro.genworth.com/amm/public_contents/calculators/BusinessValuation.html" %>
		        </li>
		        <li>
		        	<%= link_to "Estate Tax Planning", "https://pro.genworth.com/amm/public_contents/calculators/EstatePlan.html" %>
		        </li>
		    </ul>
		</div>
		<div style="float:left;max-width:46%;padding:2%;">
		    <h3>Retirement Income Planning</h3>
		    <p>Information, strategies, and insights for you to help your clients use their retirement nest egg to generate income.</p>
		    <ul class="dashedList">
		    	<li>
		        	<%= link_to "Retirement Income", "https://pro.genworth.com/amm/public_contents/calculators/RetirementIncome.html" %>
		        </li>
		        <li>
		        	<%= link_to "Retirement Planner", "https://pro.genworth.com/amm/public_contents/calculators/RetirementPlan.html" %>
		        </li>
		        <li>
		        	<%= link_to "Retirement Shortfall", "https://pro.genworth.com/amm/public_contents/calculators/RetireShort.html" %>
		        </li>
		        <li>
		        	<%= link_to "Life Expectancy (Basic)", "https://pro.genworth.com/amm/public_contents/calculators/LifeTime.html" %>
		        </li>
		        <li>
		        	<%= link_to "Life Expectancy (Detailed)", 'https://rslic.metlife.com/lic/corpLongevity.do?nav=MIFirefoxHTML\Shell\Open\Command' %>
		        </li>
		        <li>
		        	<%= link_to "Savings, Taxes and Inflation", "https://pro.genworth.com/amm/public_contents/calculators/SavingsVariables.html" %>
		        </li>
		        <li>
		        	<%= link_to "Business Valuation", "https://pro.genworth.com/amm/public_contents/calculators/BusinessValuation.html" %>
		        </li>
		        <li>
		        	<%= link_to "Long Term Care", "https://pro.genworth.com/amm/public_contents/calculators/LongtermCare.html" %>
		        </li>
		        <li>
		        	<%= link_to "Social Security Income Estimate", "http://www.socialsecurity.gov/OACT/quickcalc/index.html" %>
		        </li>
		    </ul>
		</div>
		<div style="float:left;max-width:46%;padding:2%;">
		    <h3>IRAs and Qualified Money</h3>
		    <p>Strategies for you to help your clients use qualified assets, including 401(k)s, IRAs and RMDs, to generate income in retirement.</p>
		    <ul class="dashedList">
		    	<li>
		    		<%= link_to "Roth IRA or Traditional IRA", "https://pro.genworth.com/amm/public_contents/calculators/RothvsRegular.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "Traditional IRA", "https://pro.genworth.com/amm/public_contents/calculators/RegularIRA.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "Social Security Benefits", "https://pro.genworth.com/amm/public_contents/calculators/SocialSecurity.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "72(t) Calculator - Early Withdrawls from Retirement Accounts", "https://pro.genworth.com/amm/public_contents/calculators/Retire75T.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "72(t) Distributions - Impact on Retirement Fund Balances", "https://pro.genworth.com/amm/public_contents/calculators/Retire72Alt.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "Pension Plan Retirement Options", "https://pro.genworth.com/amm/public_contents/calculators/PensionOptions.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "Beneficiary Required Minimum Distribution", "https://pro.genworth.com/amm/public_contents/calculators/RetireBeneficiary.html" %>
		    	</li>
		    	<li>
		    		<%= link_to "Required Minimum Distribution", "https://pro.genworth.com/amm/public_contents/calculators/RetireDistrib.html" %>
		    </ul>
		</div>
		<div style="clear:both;">
			
		</div>
	</div>
</div>