<% content_for :productivity_state,"active" #sets state for tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<p>The below productivity tools are some of the favorites of our EZLife Team and the advisors we work with. Each one can help you be more effective, productive, and allow you to do more with less time, energy, and effort. We hope you enjoy them as much as we do.</p>

		<h3>Agent Website</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "AgentQuote.com", "http://en.agentquote.com/" %>
		    </li>
		    <li>
		    	<%= link_to "Insurance Website Builder", "http://www.insurancewebsitebuilder.com/" %>
		    </li>
		</ul>

		<h3>Client Management (CRM)</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "Radius", "https://www.radiusbob.com/accounts/new/EZLife" %>
		    </li>
		    <li>
		    	<%= link_to "Redtail Technologies", "http://corporate.redtailtechnology.com/" %>
		    </li>
		    <li>
		    	<%= link_to "VamDB", "http://www.vamdb.com/" %>
		    </li>
		</ul>

		<h3>Conference &#32; Desktop Sharing</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "Adobe Connect (Free)", "http://www.adobe.com/ap/products/adobeconnect.html" %>
		    </li>
		    <li>
		    	<%= link_to "AQ Conference", "http://www.aqconference.com/" %>
		    </li>
		    <li>
		    	<%= link_to "GoToMeeting", "http://www.gotomeeting.com/fec/" %>
		    </li>
		    <li>
		    	<%= link_to "Join.me (Free)", "https://join.me/" %>
		    </li>
		</ul>

		<h3>Predicative / Auto-Dialer</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "SafeSoft Solutions", "http://www.safesoftsolutions.com/" %>
		    </li>
		</ul>
	</div>
</div>