<% content_for :quoters_state,"active" #sets state for lower tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<div style="float:left;max-width:46%;padding:2%;">
			<h3>Life</h3>
			<ul class="dashedList">
				<li>
					<%= link_to "Term Life", "http://www.pinneyinsurance.com/SSO/512_11.html" %>
				</li>
				<li>
					<%= link_to "Universal Life", "https://www.vitalsalessuite.com/logins/pinney%20insurance/" %>
				</li>
				<li>
					<%= link_to "Simplified Issue", "http://www.pinneyinsurance.com/quoters/new_gbl/0" %>
				</li>
				<li>
					<%= link_to "Term, UL, whole Life Product Specifications", "http://www.pinneyinsurance.com/SSO/512_42.html" %>
				</li>
			</ul>
		</div>
		<div style="float:left;max-width:46%;padding:2%;">
			<h3>Annuities</h3>
			<ul class="dashedList">
				<li>
					<%= link_to "Indexed", "http://datafeeds.annuityratewatch.com/Pinney/app/fixed-indexed-annuities.htm" %>
				</li>
				<li>
					<%= link_to "Fixed", "http://datafeeds.annuityratewatch.com/Pinney/app/fixed-annuities.htm" %>
				</li>
				<li>
					<%= link_to "MYG/ CD Annuities", "http://datafeeds.annuityratewatch.com/Pinney/app/cd-type-annuities.htm" %>
				</li>
				<li>
					<%= link_to "SPIA", "https://www1.cannex.com/scripts/Autobahn.exe/Execute?Application=CANNEX&Program=REPORT-WWW-LOGON&DSI=0&pgHTTP_COOKIE=!HTTP_COOKIE&pgAPP=CANX&pgLANG=E&pmREMOTE_ADDR=!REMOTE_ADDR&pmSECTION=REPORT-REQW-ANTU-001&pgLOGON_ID=pIc01&pgPASSWORD=Time6play" %>
				</li>
			</ul>
		</div>
		<div style="clear:both;">
			
		</div>
	</div>
</div>