<% content_for :training_state,"active" #sets state for lower tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<p>Training is the foundation of the best advisors. The below resources and Associations offer sales and required training as well as professional development opportunities. The EZLife team highly recommends your continued growth as a professional.</p>

		<h3>Sales Training</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "EZ Life Training", "http://ezlifetraining.com/" %>
		    </li>
		    <li>
		    	<%= link_to "EZLife Sales Training", "http://qa.ezlifesales.com/training.do" %>
		    </li>
		</ul>
		<h3>Required Training</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "Anti-Money Laundering (AML)", "https://aml.limra.com/Nailba_default.html" %>
		    </li>
		    <li>
		    	<%= link_to "Continuing Education (CE)", "http://pinney.webce.com/" %>
		    </li>
		</ul>
		<h3>Professional Development</h3>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "National Association of Insurance & Financial Advisors (NAIFA)", "http://www.naifa.org/join/" %>
		    </li>
		    <li>
		    	<%= link_to "The Million Dollar Roundtable", "http://www.mdrt.org/" %>
		    </li>
		    <li>
		    	<%= link_to "The American College", "http://www.theamericancollege.edu/" %>
		    </li>
		</ul>
	</div>
</div>