<p id="notice"><%= notice %></p>

<p>
  <b>Asset 401k:</b>
  <%= @crm_financial_info.asset_401k %>
</p>

<p>
  <b>Asset home equity:</b>
  <%= @crm_financial_info.asset_home_equity %>
</p>

<p>
  <b>Asset investments:</b>
  <%= @crm_financial_info.asset_investments %>
</p>

<p>
  <b>Asset pension:</b>
  <%= @crm_financial_info.asset_pension %>
</p>

<p>
  <b>Asset real estate:</b>
  <%= @crm_financial_info.asset_real_estate %>
</p>

<p>
  <b>Asset savings:</b>
  <%= @crm_financial_info.asset_savings %>
</p>

<p>
  <b>Liability auto:</b>
  <%= @crm_financial_info.liability_auto %>
</p>

<p>
  <b>Liability credit:</b>
  <%= @crm_financial_info.liability_credit %>
</p>

<p>
  <b>Liability education:</b>
  <%= @crm_financial_info.liability_education %>
</p>

<p>
  <b>Liability estate settlement:</b>
  <%= @crm_financial_info.liability_estate_settlement %>
</p>

<p>
  <b>Liability mortgage:</b>
  <%= @crm_financial_info.liability_mortgage %>
</p>

<p>
  <b>Liability other:</b>
  <%= @crm_financial_info.liability_other %>
</p>


<%= link_to 'Edit', edit_crm_financial_info_path(@crm_financial_info) %> |
<%= link_to 'Back', crm_financial_infos_path %>
