<ul class="nav nav-tabs" style="margin-bottom: -1px" id="myTab">
  <% if selected == "emails" %>
    <li class= "active"><%= link_to "Emails", marketing_emails_path, :remote => true %></li>
  <% else %>
    <li><%= link_to "Emails", marketing_emails_path, :remote => true %></li>
  <% end %>

  <% if selected == "Contracts" %>
    <li class="active"><%= link_to "Contracts", usage_contracts_path, :remote => true %></li>
  <% else %>
    <li ><%= link_to "Contracts", usage_contracts_path, :remote => true %></li>
  <% end %>
  <% if selected == "Licenses" %>
    <li><%= link_to "Licenses", usage_licenses_path, :remote => true %></li>
  <% else %>
    <li ><%= link_to "Licenses", usage_licenses_path, :remote => true %></li>
  <% end %>

</ul>
