<%= tinymce_assets %>
<%= form_for(@template, :remote => true, :multipart => true) do |f| %>
  <div class="row">
    <div class="span4">

      <label>Template Name</label>
      <%= f.text_field :name %>

      <label>Description</label>
      <%= f.text_field :description %>

      <label>Enabled</label>
      <%= f.check_box :enabled %>
      
      <label>Thumbnail</label>
      <%= f.file_field :thumbnail %>

      <label>Ownership</label>
      <%= f.select :ownership_id, Ownership.all.map{ |c| [c.value, c.id] } %>
    </div>

    <div class="span4">
      <label>Subject</label>
      <%= f.text_field :subject %>
      
      <label>Parameters for template body</label>
      <input id="set-template-body-parameters" type="text" data-autocomplete="/marketing/email/templates/template_liquid_options">

      <label>Body</label>
      <%= f.text_area :body, :class => "tinymce", :rows => 13, :cols => 20 %>      
    </div>
    <%if @template.persisted? %>
      <div class="span4">
        <%#= link_to '<i class="icon-pencil"></i>'.html_safe, edit_marketing_email_template_path(:id => @template.id), :remote => true, :method => :get %>
        <%= link_to "<i class='icon-trash'></i>".html_safe, marketing_email_template_path(:id => @template.id), :id => "delete-template-#{@template.id}",:confirm => "Are you sure?", :remote => true, :method => :delete %>
        <%= link_to "Clone Template", clone_template_marketing_email_templates_path(:existing_template_id => @template.id), :remote => true %>
      </div>
    <% end %>
  </div>

  <div style="margin-left: 400px;margin-bottom:10px;">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced'
  });
</script>
