<%= render :partial => "shared/tab/system_management", :locals => {:selected => "Tagging Memberships"} %>
<div style="background-color:#fff; height:500px">
<div class="navbar">
	<div class="navbar-inner"><h4 style="color:black">Tagging Memberships</h4></div>
</div>
<div style="float:left; width:175px;">
	<br /><br /><br /><br /><br /><br /><br /><br /><i class="icon-plus-sign icon-blue"></i>
  	<%= link_to "New Membership", new_tagging_membership_path, :remote => true   %> 
 </div>
<div id="tag_keys" style="float:right; background-color:#d9deec; color:#000; width:80%; height:435px; overflow: auto;  ">
		&nbsp;&nbsp;<b>Tagging Memberships</b>
	<% @tagging_memberships.each do |tagging_member| %>
	<ul>
	    <li>
	    <%= tagging_member.owner.first_name %>
	    &nbsp;<%= link_to "Edit", edit_tagging_membership_path(tagging_member.id), :remote => true %>|
	          <%= link_to "Destroy", tagging_member, method: :delete, :remote => true %>
		  </li>
		</ul>
	<% end %><br />
	</div></div>