<% if profile.persisted? %>
  <tr>
    <td>
      <input type="checkbox" data-id=<%=profile.id%> class="select-checkbox">
    </td>
    <td>
      <%= profile.name %>
    </td>
    <td>
      <%= profile.phone %>
    </td>
    <td>
      <%= image_tag profile.logo.url(:thumb) %>
    </td>
    <td>
      <% if params[:top_tab_bar] == "my_account" %>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_usage_profile_path(:id => profile.id, :owner_id => params[:owner_id], :top_tab_bar=> "my_account"), :remote => true, :method => :get, :id => "edit-profile-#{profile.id}" %>
        <%= link_to "<i class='icon-trash'></i>".html_safe, usage_profile_path(:id => profile.id, :owner_id => params[:owner_id], :top_tab_bar=> "my_account"), :confirm => "Are you sure?", :remote => true, :method => :delete, :id => "delete-profile-#{profile.id}" %>
      <% else %>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_usage_profile_path(:id => profile.id, :owner_id => params[:owner_id]), :remote => true, :method => :get, :id => "edit-profile-#{profile.id}" %>
        <%= link_to "<i class='icon-trash'></i>".html_safe, usage_profile_path(:id => profile.id, :owner_id => params[:owner_id]), :confirm => "Are you sure?", :remote => true, :method => :delete, :id => "delete-profile-#{profile.id}" %>
      <% end %>

    </td>
  </tr>
<% end %>


