<%= form_for(@status_type, :url => "crm/status_types/update?id=#{@status_type.id}", :remote => true) do |f| %>

	<table style="width:80%">
	    <tr class="field">
		  <td style="width:10%"></td>
		  <td>Ownership:</td>
		  <td><%= f.select "ownership_id", @ownerships.collect {|p| [ p.value, p.id ] }%></td>
		</tr>
		<tr class="field">
			<td style="width:10%"></td>
			<td>Color:</td>
			<td><%= f.text_field "color" %></td>
		</tr>
		<tr class="field">
			<td style="width:10%"></td>
			<td>Task Type:</td>
			<td><%= f.text_field "name" %></td>
		</tr>
		<tr class="field">
			<td style="width:10%"></td>
			<td>Sort Order:</td>
			<td><%= f.text_field "sort_order" %></td>
		</tr>
		<tr>
			<td style="width:10%"></td>
			<td></td>
			<td class="actions"><%= f.submit "Save Status"%></td>
		</tr>
	</table>

<% end %>
