<div class="row-fluid">
  <div class="span1">
    <a id="user-follow-up-task-link" class="ajax" data-case-id="<%= task.status.try(:case).try(:id) %>">
      <i class="icon icon-link"></i>
    </a>
  </div>
  <div class="span2">
    <%= task.task_type.try(:name) %>
  </div>
  <div class="span2">
    <%= task_type == "incomplete" ? task.due_at : task.completed_at %>
  </div>
  <div class="span2">
    <%= task.assigned_to.try(:full_name) %>
  </div>
  <div class="span2">
    <%= task.crm_connection.try(:full_name) %>
  </div>
  <div class="span2">
    <%= task.label %>
  </div>
  <div class="span1">
    <input type="checkbox" id="change-task-status-<%= task.id %>" class="user-system-task-checkbox ajax" data-id="<%= task.id%>" data-status-id="<%= task.status.try(:id)%>" <%= task.completed_at.blank? ? '' : 'checked' %>>
  </div>
</div>
